
body
    {
	  margin: 0;
	  padding: 0;
    }
    .wrapper{
		
		background-size: cover;
		height: 100vh;
		
	}
	.wrapper .bgimg{
		background-size: cover;
		height: 100vh;
		filter: blur(7px);
		-webkit-filter: blur(7px);
	}
    
	.navbar{
		height: 60px;
		width: 100%;
		background: rgba(0,0,0,0.5);
	}
	.header
	{
		background-color: green;
	}
	
	.logo{
		width: 110px;
		float: left;
		padding: 0px 0px 0px 0px;
	}
	.headerlogo
	{
		color: Brown;
		float: left;
		font-size: 40px;
		font-weight: bold;
		padding: 10px 20px 20px 0px;
	}
	.headerlist{
		float:right;
	}
	.navbar ul{
		float: right;
		margin-right: 20px;
	}
	.navbar ul li{
		list-style: none;
		margin: 0 8px;
		display: inline-block;
		line-height: 40px;
	}
	.navbar ul li a{
		text-decoration: none;
		color: white;
		padding: 6px 13px;
		font-size: 17px;
		transition: 0.4s;
	}
	
	.navbar ul li a.active{
		background: brown;
		border-radius: 2px;
	}		
	
	.navbar ul li a:hover{
		background: brown;
		border-radius: 2px;
	}
	.wrapper .main
	{
		position: absolute;
		top: 25%;
		margin-left: 250px;
		margin-right: 250px;
		bottom: 60px;
		transform: transform(-50%, -50%);
		user-select: none;
	}
	
	#discription1
	{
		margin-left: 250px;
		margin-right: 250px;
		text-align: center;
		color:black;
		
		border: 2px solid maroon;
		padding: 10px;
		border-radius: 50px 10px 1px 1px;
	}
    #discription2
	{
		margin-left: 250px;
		margin-right: 250px;
		color:black;
		border: 2px solid maroon;
		padding: 10px;
		border-radius: 1px 1px 50px 10px;
	}
	
	.button
	{
		background-color: maroon;
		border-radius: 50%;
		padding: 5px 10px 5px 10px;
		color: white;
		height: 30px;
		width: 100px;
	}
	.button:hover{
		background: green;
	}
	
	footer
	{   
	    border: 1px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align:center;
		padding: 1px;
		color: Black;
	}
	